body {
    background: url("forgotPassword.jpg");
    width: 100%;
}

.contPass {
    border-color: 2px solid #17a2b8;
    background: rgba(36, 212, 212, 0.205);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    margin-top: 5rem;
}
.buttons_divider {
    margin-top: 10%;
    margin-bottom: 10%;
    border-bottom: solid #ccc 1px;
}

.sign_up_title {
    text-align: center;
    margin-bottom: 5%;
}

.sign_in_but {
    border-radius: 45%;
    margin-left: 5px
}

.sign_up_form {
    margin-bottom: 30%;
}

.sign_up_form input {
    border-radius: 0px;
}

/* .bg-lightgray {
    background-color: #17a2b8;
} */

p {
    text-align: center;
}

header {
    margin-bottom: 5%;
}

.header_bar {
    margin-bottom: 20px;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #17a2b8;
}

footer {
    margin-top: 5%;
}

.footer_terms {
    margin-top: 20px;
    text-align: left;
}

.footer_rights {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.textHeader {
    color: white;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    background-color: white;
    color: black
  }
  
  a:active {
    text-decoration: none;
  }
