body{
    background-color: #ffffff;
}
.centered-form {
    margin: auto;
    margin-top: 10rem;
    display: block;
    width: 400px;
}

.centered-form {
	background: rgba(158, 255, 239, 0.26);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    padding: 8%;
}